@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
    scroll-behavior: smooth;
}

/* Dark Theme Styles */
.dark-theme {
    background-color: var(--primary-dark);
    color: var(--text-dark-primary);

    // .navbar {
    //     background: var(--primary-dark);
    //     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    //     .menu-link {
    //         color: var(--text-dark-primary);

    //         &:hover {
    //             color: var(--last-name);
    //         }
    //     }

    //     .darkmode {
    //         background-color: var(--quinary-dark);
    //         border: 1px solid var(--quinary-dark);

    //         i {
    //             color: var(--text-dark-primary);
    //         }
    //     }
    // }

    .intro-section {
        background-color: var(--primary-dark);
        color: var(--text-dark-primary);

        .intro-content {
            .intro-text {
                h1 {
                    .name {
                        color: var(--secondary-light);
                        /* Update color for dark theme */
                    }
                }

                p {
                    color: var(--text-dark-primary);
                }

                .social-icons {
                    .social-icon {
                        color: var(--text-dark-primary);

                        &:hover {
                            color: var(--last-name);
                        }
                    }
                }
            }
        }
    }

    .work-section {
        background-color: var(--primary-dark);

        h2 {
            color: var(--text-dark-primary);
        }

        .work-split-container {
            .work-list {
                .work-card {
                    background-color: var(--secondary-dark);
                    color: var(--text-dark-primary);

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                        background: var(--quaternary-dark);
                    }

                    &.selected {
                        background-color: var(--quaternary-dark);
                    }
                }
            }

            .work-details {
                background-color: var(--secondary-dark);
                color: var(--text-dark-primary);
            }
        }
    }

    .education-section {
        background-color: var(--primary-dark);

        h2 {
            color: var(--text-dark-primary);
        }

        .education-timeline {
            .timeline-line {
                background-color: var(--quinary-dark);
            }

            .education-card {
                background-color: var(--secondary-dark);
                color: var(--text-dark-primary);

                .card-icon {
                    background-color: var(--quinary-dark);
                    color: var(--text-dark-primary);
                }

                .card-content {
                    .institution {
                        color: var(--primary-light);
                    }

                    .degree,
                    .location,
                    .date-range,
                    .gpa {
                        color: var(--text-color);
                    }
                }

                .card-connector {
                    background-color: var(--quinary-dark);
                }
            }
        }
    }

    .projects-section {
        background-color: var(--primary-dark);
    
        .section-title {
          color: var(--text-dark-primary);
        }
    
        .project-grid {
          .project-card {
            background-color: var(--secondary-dark);
            color: var(--text-dark-primary);
    
            .project-header {
              background-color: var(--quinary-dark);
    
              .project-title {
                color: var(--text-dark-primary);
              }
            }
    
            .project-content {
              .project-description {
                color: var(--text-dark-primary);
              }
    
              .project-technologies {
                .technology-badge {
                  background-color: var(--quinary-dark);
                  color: var(--text-dark-primary);
                }
              }
            }
    
            .project-actions {
              .view-details-btn {
                background-color: var(--quinary-dark);
                color: var(--text-dark-primary);
    
                &:hover {
                  background-color: var(--quaternary-dark);
                }
              }
            }
          }
        }
    
        .project-details-modal {
          .modal-content {
            background-color: var(--secondary-dark);
            border: 1px solid var(--quinary-dark);
    
            .close-btn {
              color: var(--text-dark-primary);
    
              &:hover {
                color: var(--last-name);
              }
            }
    
            .modal-header {
              background-color: var(--quinary-dark);
    
              h3 {
                color: var(--text-dark-primary);
              }
            }
    
            .modal-body {
              ul {
                li {
                  color: var(--text-dark-primary);
                }
              }
            }
          }
        }
      }

    .skills-section {
        background-color: var(--primary-dark);

        .section-title {
            color: var(--text-dark-primary);
        }

        .skills-container {
            .skill-category {
                background-color: var(--secondary-dark);
                color: var(--text-dark-primary);

                .skills-headings {
                    color: var(--text-dark-primary);
                }

                .skills-grid {
                    .skill-item {
                        .skill-info {
                            .skill-bar {
                                .skill-bar-inner {
                                    background-color: var(--quinary-dark);
                                }
                            }
                        }

                        span {
                            color: var(--text-dark-primary);
                        }
                    }
                }
            }
        }
    }

    .contact-section {
        background-color: var(--primary-dark);
        color: var(--text-dark-primary);

        .section-title {
            color: var(--text-dark-primary);
        }

        .contact-split-container {
            .contact-details {
                .details-description {
                    .contact-text {
                        .contact-label {
                            color: var(--text-dark-primary);
                        }

                        .contact-value {
                            color: var(--text-dark-primary);
                        }
                    }
                }
            }

            .contact-form {
                form {
                    .form-group {
                        label {
                            color: var(--text-dark-primary);
                        }

                        input,
                        textarea {
                            background-color: var(--secondary-dark);
                            color: var(--text-dark-primary);
                            border: 1px solid var(--quinary-dark);
                        }

                        .error-message {
                            color: var(--error-color-dark);
                        }
                    }

                    .button-class {
                        button[type="submit"] {
                            background-color: var(--quinary-dark);
                            color: var(--text-dark-primary);

                            &:hover {
                                background-color: var(--quaternary-dark);
                            }

                            &:disabled {
                                background-color: var(--secondary-dark);
                                color: var(--text-dark-primary);
                            }
                        }
                    }
                }
            }
        }
    }

    .social-icon {
        color: var(--text-dark-primary) !important;

        &:hover {
            color: var(--last-name) !important;
        }
    }
}

.intro-section {
    background-color: var(--primary-light);
    color: var(--text-light-primary);
    text-align: center;
    padding: 72px;
    display: flex;
    justify-content: center;
    align-items: center;

    .intro-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;

        .intro-text {
            flex: 1 1 50%;
            max-width: 600px;
            padding-right: 100px;
            text-align: left;

            h1 {
                font-size: 40px;
                font-weight: bold;
                margin-bottom: 10px;

                .name {
                    color: var(--secondary-dark);
                }
            }

            .typing-text {
                font-size: 28px;
                padding: 10px 0px;
                overflow: hidden;
                white-space: nowrap;
                animation: typing 5s infinite;
                // border-right: 2px solid var(--text-light-primary);
            }

            .social-icons {
                margin-top: 20px;

                .social-icon {
                    display: inline-block;
                    margin-right: 15px;
                    font-size: 24px;
                    color: var(--text-light-primary);
                    transition: color 0.3s ease;

                    &:hover {
                        color: var(--last-name);
                    }
                }
            }
        }

        .intro-photo {
            flex: 0 0 350px;
            max-width: 350px;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 50%;
                animation: pulse 2s infinite;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

// @keyframes typing {
//     0% {
//         width: 0;
//     }
//     50% {
//         width: 50%;
//     }
//     100% {
//         width: 0;
//     }
// }

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}


// .navbar {
//     position: sticky;
//     top: 0;
//     z-index: 100;
//     background: var(--primary-light);
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 10px;
//     max-width: 100vw;
//     overflow-x: hidden;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

//     .menu-link {
//         flex: 1;
//         text-align: center;
//         color: var(--secondary-dark);
//         text-decoration: none;
//         font-weight: 500;
//         font-size: 1.2vw;
//         cursor: pointer;
//         transition: color 0.3s ease;

//         &:hover {
//             color: var(--secondary-dark);
//         }
//     }

//     .darkmode {
//         margin-left: 15px;
//         width: 40px;
//         height: 40px;
//         cursor: pointer;
//         background-color: transparent;
//         border: 1px solid rgb(43, 43, 43);
//         border-radius: 50%;
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         i {
//             font-size: 20px;
//             color: var(--secondary-dark); // Ensure the icon color matches the theme
//         }
//     }
// }

// .navbar {
//     position: sticky;
//     top: 0;
//     z-index: 100;
//     background: var(--primary-light);
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 10px;
//     max-width: 100vw;
//     overflow-x: hidden;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

//     .menu-link {
//         flex: 1;
//         text-align: center;
//         color: var(--secondary-dark);
//         text-decoration: none;
//         font-weight: 500;
//         font-size: 20px;
//         cursor: pointer;
//         transition: color 0.3s ease;

//         &:hover {
//             color: var(--secondary-dark);
//         }
//     }

//     .darkmode {
//         margin-left: 15px;
//         width: 40px;
//         height: 40px;
//         cursor: pointer;
//         background-color: transparent;
//         border: 1px solid rgb(43, 43, 43);
//         border-radius: 50%;
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         i {
//             font-size: 20px;
//             color: var(--secondary-dark);
//         }
//     }
// }

.work-section {
    background-color: var(--primary-light);
    padding: 72px;

    h2 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 36px;
        font-weight: bold;
        color: var(--secondary-dark);
    }

    .work-split-container {
        display: flex;
        justify-content: center;
        gap: 30px;

        .work-list {
            flex: 0 0 40%;
            max-width: 500px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            .work-card {
                background-color: var(--secondary-light);
                border-radius: 10px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                padding: 20px;
                margin-bottom: 20px;
                cursor: pointer;
                transition: transform 0.3s ease;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                }

                &.selected {
                    background-color: var(--primary-dark);
                    color: var(--text-dark-primary);
                }

                h3 {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .date,
                .location {
                    color: var(--text-color);
                    margin-bottom: 5px;
                }
            }
        }

        .work-details {
            flex: 0 0 50%;
            max-width: 600px;
            background-color: var(--secondary-light);
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 30px;
            text-align: left;
            color: var(--text-color);

            p {
                margin-bottom: 15px;
            }
        }
    }
}

/* Education Section */
.education-section {
    padding: 72px;
    background-color: var(--primary-light);

    .section-title {
        text-align: center;
        margin-bottom: 40px;
        font-size: 36px;
        font-weight: bold;
        color: var(--secondary-dark);
    }

    .education-timeline {
        position: relative;
        max-width: 1200px; // Increase the maximum width for larger screens
        margin: 0 auto;

        .timeline-line {
            position: absolute;
            top: 0;
            left: 50%;
            width: 4px;
            height: 100%;
            background-color: var(--primary-dark);
            transform: translateX(-50%);
        }

        .education-cards {
            display: flex;
            flex-wrap: wrap; // Allow cards to wrap on smaller screens
            justify-content: center;
            gap: 30px; // Add some spacing between cards
        }

        .education-card {
            width: calc(50% - 30px); // Adjust the width to accommodate the gap
            max-width: 500px; // Set a maximum width for larger screens
            background-color: var(--secondary-light);
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 30px;
            position: relative;
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Add a subtle shadow on hover
            }

            .card-icon {
                position: absolute;
                // top: -30px;
                left: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 60px;
                background-color: var(--primary-dark);
                border-radius: 50%;
                color: var(--primary-light);
                font-size: 24px;
            }

            .card-content {
                padding-left: 80px;

                .institution {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    color: var(--secondary-dark);
                }

                .degree,
                .location,
                .date-range,
                .gpa {
                    color: var(--text-color);
                    margin-bottom: 5px;
                }
            }

            .card-connector {
                display: none; // Remove the connector lines
            }
        }
    }
}

.projects-section {
    padding: 72px;
    background-color: var(--primary-light);

    .section-title {
        text-align: center;
        margin-bottom: 40px;
        font-size: 36px;
        font-weight: bold;
        color: var(--secondary-dark);
    }

    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 30px;
    }

    .project-card {
        background-color: var(--secondary-light);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;

        &:hover {
            transform: translateY(-5px);
        }

        .project-header {
            background-color: var(--primary-dark);
            padding: 20px;

            .project-title {
                font-size: 24px;
                font-weight: bold;
                color: var(--primary-light);
                margin: 0;
            }
        }

        .project-content {
            padding: 20px;
            flex-grow: 1;

            .project-description {
                color: var(--text-color);
                margin-bottom: 15px;
            }

            .project-technologies {
                margin-bottom: 20px;

                .technology-badge {
                    display: inline-block;
                    padding: 5px 10px;
                    background-color: var(--primary-dark);
                    color: var(--primary-light);
                    border-radius: 20px;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    font-size: 14px;
                }
            }
        }

        .project-actions {
            padding: 20px;
            text-align: center;

            .view-details-btn {
                display: inline-block;
                padding: 10px 20px;
                background-color: var(--primary-dark);
                color: var(--primary-light);
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: var(--secondary-dark);
                }
            }
        }
    }

    .project-details-modal {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.4);

        .modal-content {
            background-color: var(--primary-light);
            margin: 15% auto;
            padding: 0;
            border: 1px solid var(--secondary-dark);
            border-radius: 10px;
            max-width: 600px;
            max-height: 80vh;
            position: relative;
            display: flex;
            flex-direction: column;

            .close-btn {
                position: absolute;
                top: 22px;
                right: 20px;
                z-index: 10;
                font-size: 28px;
                font-weight: bold;
                color: var(--primary-light);
                cursor: pointer;

                &:hover {
                    color: var(--last-name);
                }
            }

            .modal-header {
                background-color: var(--primary-dark);
                padding: 20px;
                position: sticky;
                top: 0;
                z-index: 1;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;

                h3 {
                    font-size: 24px;
                    font-weight: bold;
                    color: var(--primary-light);
                    margin: 0;
                }
            }

            .modal-body {
                padding: 20px;
                overflow-y: auto;

                ul {
                    list-style-type: disc;
                    margin-left: 20px;
                    padding-left: 0;

                    li {
                        margin-bottom: 10px;
                        color: var(--text-color);
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .projects-section {
        .project-grid {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap: 15px;
        }

        .project-card {
            .project-header {
                padding: 10px;

                .project-title {
                    font-size: 18px;
                }
            }

            .project-content {
                padding: 10px;

                .project-description {
                    font-size: 12px;
                }

                .project-technologies {
                    .technology-badge {
                        font-size: 10px;
                        padding: 3px 6px;
                    }
                }
            }

            .project-actions {
                padding: 10px;

                .view-details-btn {
                    font-size: 12px;
                    padding: 6px 12px;
                }
            }
        }

        .project-details-modal {
            .modal-content {
                margin: 15% auto;
                max-width: 90%;

                .modal-header {
                    padding: 10px;

                    h3 {
                        font-size: 18px;
                    }
                }

                .modal-body {
                    padding: 10px;

                    ul {
                        margin-left: 10px;

                        li {
                            font-size: 12px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}

.skills-section {
    padding: 72px;
    background-color: var(--primary-light);

    .section-title {
        text-align: center;
        margin-bottom: 40px;
        font-size: 36px;
        font-weight: bold;
        color: var(--secondary-dark);
        opacity: 0;
        animation: fadeInDown 1s ease-out forwards;
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        .skill-category {
            background-color: var(--secondary-light);
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 30px;
            max-width: 500px;
            width: 100%;
            opacity: 0;
            transform: translateY(20px);
            animation: fadeInUp 1s ease-out forwards;
            animation-delay: calc(var(--animation-delay) * 0.2s);

            .skills-headings {
                text-align: center;
                margin: 0 0 20px;
                font-size: 24px;
                font-weight: 500;
                color: var(--secondary-dark);
            }

            .skills-grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                gap: 20px;

                .skill-item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    opacity: 0;
                    transform: translateX(-20px);
                    animation: fadeInLeft 1s ease-out forwards;
                    animation-delay: calc(var(--animation-delay) * 0.4s);

                    .skill-icon-container {
                        margin-right: 10px;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .skill-icon {
                            height: 40px;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }

                    .skill-info {
                        flex: 1;

                        .skill-name {
                            font-weight: bold;
                        }

                        .skill-bar {
                            width: 100%;
                            height: 10px;
                            background-color: white;
                            border-radius: 5px;
                            overflow: hidden;

                            .skill-bar-inner {
                                height: 100%;
                                background-color: var(--secondary-dark);
                                animation: fillBar 1s ease-out forwards;
                                animation-delay: calc(var(--animation-delay) * 0.6s);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Animations */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fillBar {
    0% {
        width: 0;
    }

    // 100% {
    //   width: 100%;
    // }
}

.contact-section {
    background-color: var(--primary-light);
    color: var(--text-color);
    padding: 72px;

    .section-title {
        color: var(--secondary-dark);
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }

    .contact-split-container {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap; // Add this line

        .contact-details {
            flex: 0 0 40%;
            max-width: 500px;

            .details-item {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                .details-icon-container {
                    margin-right: 10px;
                    font-size: 24px;
                }

                .details-info {
                    .details-label {
                        font-weight: bold;
                    }
                }
            }
        }

        .contact-form {
            flex: 0 0 50%;
            max-width: 600px;

            form {
                .form-group {
                    margin-bottom: 20px;

                    label {
                        display: block;
                        margin-bottom: 5px;
                        color: var(--text-color);
                    }

                    input,
                    textarea {
                        width: 99%;
                        padding: 10px 0px 10px 5px;
                        border: 1px solid var(--secondary-dark);
                        border-radius: 4px;
                        background-color: var(--primary-light);
                        color: var(--text-color);
                    }

                    .error-message {
                        color: var(--error-color);
                        font-size: 14px;
                        margin-top: 5px;
                    }
                }

                .name-email-group {
                    display: flex;
                    gap: 35px;

                    .form-group {
                        flex: 1;
                    }
                }

                .button-class {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    button[type="submit"] {
                        width: 100%;
                        // max-width: 600px;
                        padding: 10px 20px;
                        background-color: var(--primary-dark);
                        color: var(--primary-light);
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: var(--secondary-dark);
                        }

                        &:disabled {
                            background-color: var(--secondary-light);
                            color: var(--text-color);
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 480px) {
        padding: 20px;

        .section-title {
            font-size: 28px;
        }

        .contact-split-container {
            .contact-details {
                .details-description {
                    flex-direction: column;
                    align-items: flex-start;

                    .contact-icon {
                        margin-right: 0;
                        margin-bottom: 5px;
                    }
                }
            }

            .contact-form {
                form {
                    .name-email-group {
                        flex-direction: row;
                        gap: 30px;
                    }
                }
            }
        }
    }
}

//   Responsive Layout structure for all sections
@media (max-width: 768px) {
    // .navbar {
    //     flex-direction: row;
    //     align-items: center;
    //     padding: 5px;

    //     .menu-link {
    //         margin: 5px 0;
    //         font-size: 2.3vw;
    //     }

    //     .darkmode {
    //         margin: 10px 0;
    //         width: 30px;
    //         height: 30px;

    //         i {
    //             font-size: 20px;
    //             color: var(--secondary-dark);
    //         }
    //     }
    // }

    // .navbar {
    //     flex-wrap: wrap;
    //     justify-content: center;
    //     padding: 10px;

    //     .menu-link {
    //         margin: 5px 5px;
    //         font-size: 11px;
    //     }

    //     .darkmode {
    //         margin: 10px;
    //         width: 30px;
    //         height: 30px;

    //         i {
    //             font-size: 16px; // Use a fixed font size for better readability
    //         }
    //     }
    // }

    .intro-section {
        .intro-content {
            flex-direction: column;
            align-items: center;

            .intro-text {
                text-align: center;
                max-width: 100%;
                padding-right: 0;
                margin-bottom: 30px;

                h1 {
                    font-size: 24px; // Use a fixed font size for better readability
                }

                p {
                    font-size: 18px; // Use a fixed font size for better readability
                }

                .social-icons {
                    .social-icon {
                        font-size: 18px; // Use a fixed font size for better readability
                    }
                }
            }

            .intro-photo {
                flex: 0 0 250px;
                max-width: 250px;
            }
        }
    }

    // Work section styles
    .work-section {
        padding: 72px 20px; // Adjust horizontal padding

        .work-split-container {
            flex-direction: column;
            align-items: center;

            .work-list,
            .work-details {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: left;
            }
        }
    }

    // Education section styles
    .education-section {
        padding: 72px 20px; // Adjust horizontal padding

        .education-timeline {
            .education-cards {
                gap: 20px;
            }

            .education-card {
                width: 100%;
                max-width: none;
            }
        }
    }

    .projects-section {
        padding: 72px 20px; // Adjust horizontal padding

        .project-grid {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 20px;
        }

        .project-card {
            .project-header {
                padding: 15px;

                .project-title {
                    font-size: 20px;
                }
            }

            .project-content {
                padding: 15px;

                .project-description {
                    font-size: 14px;
                }

                .project-technologies {
                    .technology-badge {
                        font-size: 12px;
                    }
                }
            }

            .project-actions {
                padding: 15px;

                .view-details-btn {
                    font-size: 14px;
                    padding: 8px 16px;
                }
            }
        }

        .project-details-modal {
            .modal-content {
                margin: 30% auto;
                max-width: 90%;

                .modal-header {
                    padding: 15px;

                    h3 {
                        font-size: 20px;
                    }
                }

                .modal-body {
                    padding: 15px;

                    ul {
                        margin-left: 15px;

                        li {
                            font-size: 14px;
                            margin-bottom: 8px;
                        }
                    }
                }
            }
        }
    }

    // Skills section styles
    .skills-section {
        padding: 72px 20px; // Adjust horizontal padding

        .skills-container {
            gap: 20px;

            .skill-category {
                max-width: 100%;
                padding: 20px;
            }
        }
    }

    // Contact section styles
    .contact-section {
        padding: 72px 20px; // Adjust horizontal padding

        .contact-split-container {
            flex-direction: column;
            gap: 20px;

            .contact-details,
            .contact-form {
                flex: 1 1 auto;
                max-width: 95%;
            }
        }

        .section-title {
            font-size: 28px;
        }

        .contact-details {
            .details-description {
                flex-direction: column;
                align-items: flex-start;

                .contact-icon {
                    margin-right: 0;
                    margin-bottom: 5px;
                }
            }
        }

        .contact-form {
            form {
                .name-email-group {
                    flex-direction: row;
                    gap: 10px;
                }
            }
        }
    }
}


.custom-snackbar {
    background-color: #333;
    /* Replace with your desired background color */
    color: #fff;
    /* Replace with your desired text color */
    /* Add any other CSS properties here */
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: var(--secondary-light) !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
    color: var(--secondary-dark) !important;

}

// .mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
//     color: var(--text-dark-primary) !important;
//     --mat-mdc-button-persistent-ripple-color: var(--text-light-primary) !important;
// }

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: var(--primary-dark) !important;
}

.mdc-button .mdc-button__label {
    position: relative;
    color: var(--primary-light);
}

.mat-mdc-button .mat-mdc-button-touch-target, .mat-mdc-unelevated-button .mat-mdc-button-touch-target, .mat-mdc-raised-button .mat-mdc-button-touch-target, .mat-mdc-outlined-button .mat-mdc-button-touch-target {
    background: var(--secondary-dark);
}

.mdc-snackbar__surface {
    padding-right: 0px !important;
}

// .navbar {
//     position: sticky;
//     top: 0;
//     z-index: 100;
//     background: var(--primary-light);
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 10px;
//     max-width: 100vw;
//     overflow-x: hidden;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

//     .menu-link {
//         flex: 1;
//         text-align: center;
//         color: var(--secondary-dark);
//         text-decoration: none;
//         font-weight: 500;
//         font-size: 20px;
//         cursor: pointer;
//         transition: color 0.3s ease;

//         &:hover {
//             color: var(--secondary-dark);
//         }

//         &.active {
//             background-color: var(--primary-dark);
//             color: white; // Active link color
//         }
//     }

//     .darkmode {
//         // margin-left: 15px;
//         // width: 40px;
//         // height: 40px;
//         cursor: pointer;
//         background-color: transparent;
//         border: none;
//         // border-radius: 50%;
//         // display: flex;
//         // align-items: center;
//         // justify-content: center;
//         i {
//             font-size: 20px;
//             color: var(--secondary-dark);
//         }
//     }

//     .icon {
//         display: none; // Hide icon by default
//     }

//     @media screen and (max-width: 600px) {
//         flex-direction: column; // Stack items vertically
//         gap: 10px;
//         align-items: flex-start; // Align items to the start

//         .menu-link {
//             display: none; // Hide links by default
//             width: 100%; // Full width for links
//             text-align: left; // Align text to the left
//         }

//         .icon {
//             display: block; // Show icon
//         }

//         &.responsive {
//             .menu-link {
//                 display: block; // Show links in responsive mode
//             }
//         }
//     }
// }

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--primary-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 100vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  
    .navbar-container {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        gap: 20px;
  
      .menu-link {
        text-align: center;
        color: var(--secondary-dark);
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        transition: color 0.3s ease;
        padding: 10px 15px;
  
        &:hover,
        &.active {
          color: white;
          background-color: var(--primary-dark);
          border-radius: 5px;
        }
      }
    }
  
    .navbar-icons {
      display: flex;
      align-items: center;
      gap: 10px;
  
      .icon,
      .darkmode {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
        color: var(--secondary-dark);
  
        i {
          font-size: 20px;
        }
      }
  
      .icon {
        display: none; // Hidden by default
      }
    }
  
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
  
      .navbar-container {
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
        gap: 5px;
        display: none; // Hide links by default in mobile
  
        .menu-link {
          width: 100%;
          text-align: left;
          padding: 10px 20px;
        }
      }
  
      .navbar-icons {
        width: 100%;
        justify-content: space-between;
  
        .icon {
          display: block; // Show icon when screen width <= 768px
        }
  
        .darkmode {
          margin-left: auto;
        }
      }
  
      &.responsive {
        .navbar-container {
          display: flex; // Show links in responsive mode
        }
      }
    }
  }
  
  