<div class="dashboard" [ngClass]="{'dark-theme': isDarkTheme}">
    <!-- Top Menu Bar -->

    <!-- <div class="navbar">
        <a class="menu-link" data-section="dashboard">Home</a>
        <a class="menu-link" data-section="work">Experience</a>
        <a class="menu-link" data-section="education">Education</a>
        <a class="menu-link" data-section="projects">Projects</a>
        <a class="menu-link" data-section="skills">Skills</a>
        <a class="menu-link" data-section="contact">Contact</a>
        <button class="darkmode" (click)="toggleDarkTheme($event)">
            <i class="fa-solid" [ngClass]="isDarkTheme ? 'fa-sun' : 'fa-moon'"></i>
        </button>
    </div> -->


<div class="navbar" id="myTopnav">
    <div class="navbar-container">
        <a class="menu-link" data-section="dashboard" [class.active]="isActive('dashboard')" (click)="setActive('dashboard')">Home</a>
        <a class="menu-link" data-section="work" [class.active]="isActive('work')" (click)="setActive('work')">Experience</a>
        <a class="menu-link" data-section="education" [class.active]="isActive('education')" (click)="setActive('education')">Education</a>
        <a class="menu-link" data-section="projects" [class.active]="isActive('projects')" (click)="setActive('projects')">Projects</a>
        <a class="menu-link" data-section="skills" [class.active]="isActive('skills')" (click)="setActive('skills')">Skills</a>
        <a class="menu-link" data-section="contact" [class.active]="isActive('contact')" (click)="setActive('contact')">Contact</a>
    </div>
    <div class="navbar-icons">
        <button class="icon" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </button>
        <button class="darkmode" (click)="toggleDarkTheme($event)">
            <i class="fa-solid" [ngClass]="isDarkTheme ? 'fa-sun' : 'fa-moon'"></i>
        </button>
    </div>
</div>


    <!-- Home Section -->
    <section id="dashboard" class="intro-section">
        <div class="intro-content">
            <div class="intro-text">
                <h1><span class="name">Sai Prudhvi Charan Pothumsetty</span></h1>
                <p class="typing-text">Full Stack Developer</p>
                <div class="social-icons">
                    <a href="#" class="social-icon" target="_blank" rel="noopener noreferrer"><i
                            class="fa fa-envelope"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100008269187928" class="social-icon"
                        target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/prudhvi-charan/" class="social-icon" target="_blank"
                        rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/Prudhvicharan" class="social-icon" target="_blank"
                        rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <div class="intro-photo">
                <img [src]="isDarkTheme ? 'assets/pic-dark.png' : 'assets/pic-light.png'" alt="Your Photo" class="photo">
            </div>
        </div>
    </section>

    <section id="work" class="work-section">
        <h2>Experience</h2>
        <div class="work-split-container">
            <div class="work-list">
                <ul>
                    <li *ngFor="let work of workExperiences; let i = index" class="work-card"
                        [class.selected]="selectedCard === i" (click)="showDetails(work,i)">
                        <div class="card-container">
                            <h3>{{ work.title }}</h3>
                            <p class="date">{{ work.date }}</p>
                            <p class="location">{{ work.location }}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="work-details">
                <div *ngFor="let work of workDetails">
                    <p>{{ work }}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="education" class="education-section">
        <h2 class="section-title">Education</h2>
        <div class="education-timeline">
            <div class="timeline-line"></div>
            <div class="education-cards">
                <div class="education-card" *ngFor="let education of educationData; let isOdd = odd"
                    [ngClass]="{ 'left': isOdd, 'right': !isOdd }">
                    <div class="card-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="card-content">
                        <h3 class="institution">{{ education.institution }}</h3>
                        <p class="degree">{{ education.degree }}</p>
                        <p class="location">{{ education.location }}</p>
                        <p class="date-range">{{ education.startDate }} - {{ education.endDate }}</p>
                        <p class="gpa" *ngIf="education.gpa">GPA: {{ education.gpa }}</p>
                    </div>
                    <div class="card-connector" [ngClass]="{ 'left-connector': isOdd, 'right-connector': !isOdd }">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="projects" class="projects-section">
        <h2 class="section-title">Projects</h2>
        <div class="project-grid">
            <div class="project-card" *ngFor="let project of companyProjectsData">
                <div class="project-header">
                  <h3 class="project-title">{{ project.title }}</h3>
                </div>
                <div class="project-content">
                  <p class="project-description">{{ project.description }}</p>
                  <div class="project-technologies">
                    <span *ngFor="let technology of project.technologies" class="technology-badge">{{ technology }}</span>
                  </div>
                </div>
                <div class="project-actions">
                  <button class="view-details-btn" (click)="showProjectDetails(project)">View More Details</button>
                </div>
              </div>
              
        </div>

        <!-- Modal or Popup -->
        <div class="project-details-modal" *ngIf="selectedProject" (click)="closeProjectDetails($event)">
            <div class="modal-content" (click)="$event.stopPropagation()">
              <span class="close-btn" (click)="closeProjectDetails()">&times;</span>
              <div class="modal-header">
                <h3>Highlights</h3>
              </div>
              <div class="modal-body">
                <ul>
                  <li *ngFor="let highlight of selectedProject.highlights">{{ highlight }}</li>
                </ul>
              </div>
            </div>
          </div>
          

    </section>


    <section id="skills" class="skills-section">
        <h2 class="section-title">Skills</h2>
        <div class="skills-container">
            <div class="skill-category" *ngFor="let category of skillsData">
                <h3 class="skills-headings">{{ category.category }}</h3>
                <div class="skills-grid">
                    <div class="skill-item" *ngFor="let item of category.items">
                        <div class="skill-icon-container">
                            <img [src]="'assets/skill-icons/' + item.name.toLowerCase() + '.svg'" alt="{{ item.name }}"
                                class="skill-icon">
                        </div>
                        <div class="skill-info">
                            <span class="skill-name">{{ item.name }}</span>
                            <div class="skill-bar">
                                <div class="skill-bar-inner" [style.width]="item.percentage + '%'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact-section">
        <h2 class="section-title">Contact Me</h2>
        <div class="contact-split-container">
            <div class="contact-details">
                <div class="details-item" *ngFor="let contact of contactDetails">
                    <div class="details-icon-container">
                        <i class="material-icons">{{ contact.icon }}</i>
                    </div>
                    <div class="details-info">
                        <span class="details-label">{{ contact.text }}:</span>
                        <span class="details-value">{{ contact.detail }}</span>
                    </div>
                </div>
            </div>

            <div class="contact-form">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="name-email-group">
                        <div class="form-group">
                            <label for="name">Name<span class="required">*</span></label>
                            <input type="text" id="name" formControlName="name" required>
                            <div
                                *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)">
                                <span class="error-message">Name is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email<span class="required">*</span></label>
                            <input type="email" id="email" formControlName="email" required>
                            <div
                                *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)">
                                <span class="error-message">Email is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" id="subject" formControlName="subject">
                    </div>
                    <div class="form-group">
                        <label for="message">Message<span class="required">*</span></label>
                        <textarea style="resize: none" id="message" formControlName="message" rows="4"
                            required></textarea>
                        <div
                            *ngIf="contactForm.get('message')?.invalid && (contactForm.get('message')?.dirty || contactForm.get('message')?.touched)">
                            <span class="error-message">Message is required.</span>
                        </div>
                    </div>
                    <div class="button-class">
                        <button type="submit" [disabled]="contactForm.invalid || isLoading" (click)="onSubmit()">
                          <span *ngIf="!isLoading">Send</span>
                          <div *ngIf="isLoading" class="loader"></div>
                        </button>
                      </div>
                      
                </form>
            </div>
        </div>
    </section>

</div>