/* Roboto Light (300) */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Roboto Regular (400) */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Roboto Medium (500) */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Roboto Italic */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Roboto Bold Italic */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  src: url('assets/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
       url('assets/fonts/material-icons/MaterialIcons-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Define dark colors as custom properties */
:root {
    --primary-dark: #002029;
    --secondary-dark: #00303D;
    --tertiary-dark: #004052;
    --quaternary-dark: #005066;
    --quinary-dark: #00607A;
}
  
/* Define light colors as custom properties */
:root {
  --primary-light: #EDEDE9;
  --secondary-light: #DCDCD8;
  --tertiary-light: #F5EBE0;
  --quaternary-light: #E3D5CA;
  --quinary-light: #D5BDAF;
}

:root {
    --text-dark-primary: #FFFFFF; /* A shade of white, cream, or light gray for primary text on dark backgrounds */
    --text-dark-secondary: #E0E0E0; /* A slightly darker color for secondary text on dark backgrounds */
    --text-dark-tertiary: #CCCCCC; /* A subtle gray or silver color for additional information or fine print on dark backgrounds */
    --text-dark-accent: #FFA500; /* An accent color that stands out on dark backgrounds */
  }

  :root {
    --text-light-primary: #000000; /* A dark color, such as black or dark gray for primary text on light backgrounds */
    --text-light-secondary: #333333; /* A slightly lighter shade for secondary text on light backgrounds */
    --text-light-tertiary: #999999; /* A muted color like a soft gray for additional information or fine print on light backgrounds */
    --text-light-accent: #3498DB; /* An accent color that contrasts well with light backgrounds */
  }
  
  :root{
    --last-name: #d69c8c;
  }